---
layout: master
title: Blog
full_posts: 5
---


{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date_to_string}}</span>
    <h2><a href='{{post.url}}'>{{post.title}}</a></h2>
    <div class='body'>{{post.content}}</div>
    <a href='{{post.url}}#disqus_thread'>查看评论</a>
  </div>
  {% else %}
    {% if forloop.index == page.full_posts %}
    <h3> 文章存档</h3>
    <table class='post-list'>
    {% endif %}
    <tr>
      <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
      <td align="left">{{ post.date | date_to_string }}</td>
    </tr>
  {% endif %}
{% endfor %}
</table>
